{% extends "base.html"%}
{% block content %}

<div class="global-container">
  <div class="card signup-form">
    <div class="card-body">
      <h3 class="card-title text-center">
        Forgot Password
      </h3>
      <div class="card-text">

        <form action="#" method="post" name="reg" class="pt-5">
          {% csrf_token %}
          {% for field in form %}

          <div class="form-group">
            {{field.errors}}
            {{field.label_tag}}

            <input type="email" name="email" class="form-control form-control-sm" id="exampleInputEmail1"
              name="{{field.html_name}}" aria-describedby="emailHelp" required placeholder="example@gmail.com" />
          </div>
          <button type="submit" class="btn btn-primary btn-block" style="background-color:#267163;">
            Reset Password</button>
          {% endfor %}

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}