{% extends "base.html"%}
{% load static %}
{% block content %}

<div class="global-container">
  <div class="card signup-form">
    <div class="card-body">
      <p class="login-box-msg alert alert-sucess" style="text-align:center;">Successful, password has been reset</p>
      <br>

      <div class="card-text">
        <a href="{%url 'login_attempt'%}" class="btn btn-primary  btn-block" type="submit"
          style="background-color:#267163;">Back to Login</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}