{% extends "base.html"%}
{% load static %}
{% block content %}

<div class="global-container">
  <div class="card signup-form">
    <div class="card-body">
      <h3 class="card-title text-center">
        Reset Password
      </h3>
      <div class="card-text">

        <form action="" method="post">
          {% csrf_token %}
          {% for field in form %}

          <div class="form-group">
            {{field.errors}}
            {{field.label_tag}}

            <input type="password" id="password" class="pr-password form-control form-control-sm" required
              placeholder="your new password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number, one uppercase and lowercase letter, at least one 
                                                special characters and at least 8 characters long"
              name="{{field.html_name}}" />
            <br>


            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block" style="background-color:#267163;">
              Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}